<footer>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            <ul class="list-unstyled social-media">
                <li>
                    <a href="#" title="{{ 'Síguenos en Twitter' }}"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" title="{{ 'Síguenos en Facebook' }}"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#" title="{{ 'Síguenos en LinkedIn' }}"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="#" title="{{ 'Síguenos en Youtube' }}"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</footer>