<div class="row">
    <div class="col-md-12">
        <div class="card-item card-cyan">
            <div class="card-title">
                <h2>Buttons</h2>
                <h3>This is an example of all of the available styled buttons</h3>
            </div>

            <div class="card-description card-padding">
                <p class="title-small">
                    Boostrap default
                </p>

                <button class="btn btn-default">Default</button>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-danger">Danger</button>

                <br><br>

                <p class="title-small">
                    Custom colors
                </p>

                <button class="btn btn-blue">Blue</button>
                <button class="btn btn-red">Red</button>
                <button class="btn btn-pink">Pink</button>
                <button class="btn btn-green">Green</button>
                <button class="btn btn-lime">Lime</button>
                <button class="btn btn-amber">Amber</button>
                <button class="btn btn-purple">Purple</button>
                <button class="btn btn-deep-purple">Deep Purple</button>
                <button class="btn btn-yellow">Yellow</button>

                <br><br>

                <p class="title-small">
                    Button Icons
                </p>

                <button class="btn btn-blue"><i class="fa fa-home"></i></button>
                <button class="btn btn-red"><i class="fa fa-check"></i></button>
                <button class="btn btn-pink"><i class="fa fa-chevron-down"></i></button>
                <button class="btn btn-green"><i class="fa fa-chevron-right"></i></button>
                <button class="btn btn-lime"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-amber"><i class="fa fa-chevron-up"></i></button>
                <button class="btn btn-purple"><i class="fa fa-calendar"></i></button>
                <button class="btn btn-deep-purple"><i class="fa fa-bars"></i></button>
                <button class="btn btn-yellow"><i class="fa fa-cog"></i></button>
                <button class="btn btn-primary"><i class="fa fa-folder-open"></i></button>
                <button class="btn btn-info"><i class="fa fa-envelope"></i></button>
                <button class="btn btn-danger"><i class="fa fa-user"></i></button>
                <button class="btn btn-warning"><i class="fa fa-share-alt"></i></button>
                <button class="btn btn-default"><i class="fa fa-pencil"></i></button>
            </div>
        </div>
    </div>
</div>