<div class="row charts">
    <!-- Small chart -->
    <div class="col-md-3">
        <div class="chart-sm-item chart-green">
            <div class="clearfix">
                <div class="chart-bars">
                    <canvas id="test-chart"></canvas>
                </div>
                <div class="chart-desc">
                    <span>Items sold</span>
                    <h2>1234</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="chart-sm-item chart-red">
            <div class="clearfix">
                <div class="chart-bars">
                    <canvas id="test-chart-2"></canvas>
                </div>
                <div class="chart-desc">
                    <span>Posts</span>
                    <h2>34</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="chart-sm-item chart-deep-purple">
            <div class="clearfix">
                <div class="chart-bars">
                    <canvas id="test-chart-3"></canvas>
                </div>
                <div class="chart-desc">
                    <span>CPC</span>
                    <h2>7379,323</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="chart-sm-item chart-purple">
            <div class="clearfix">
                <div class="chart-bars">
                    <canvas id="test-chart-4"></canvas>
                </div>
                <div class="chart-desc">
                    <span>Visits</span>
                    <h2>48271</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="chart-large-item chart-amber">
            <div class="clearfix">
                <div class="pie-chart">
                    <canvas id="test-chart-5" data-maxvalue="100" data-value="45"></canvas>
                    <h2></h2>
                </div>
                <div class="chart-desc">
                    <span>Emails sent</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="chart-large-item chart-green">
            <div class="clearfix">
                <div class="pie-chart">
                    <canvas id="test-chart-6" data-maxvalue="100" data-value="68"></canvas>
                    <h2></h2>
                </div>
                <div class="chart-desc">
                    <span>Emails sent</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="chart-large-item chart-purple">
            <div class="clearfix">
                <div class="pie-chart">
                    <canvas id="test-chart-7" data-maxvalue="100" data-value="10"></canvas>
                    <h2></h2>
                </div>
                <div class="chart-desc">
                    <span>Emails sent</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="chart-large-item chart-red">
            <div class="clearfix">
                <div class="pie-chart">
                    <canvas id="test-chart-8" data-maxvalue="100" data-value="89"></canvas>
                    <h2></h2>
                </div>
                <div class="chart-desc">
                    <span>Emails sent</span>
                </div>
            </div>
        </div>
    </div>
</div>