<div class="row">
    <div class="col-md-6">
        <div class="card-item">
            <div class="card-description card-padding">
                <form method="post">
                    <div class="form-group">
                        <div class="line">
                            <input class="form-control" placeholder="Input sample" />
                        </div>
                        <small class="help-block">
                            This is an example of help block
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="input-test">This is a label</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <div class="line">
                                <input id="input-test" class="form-control" placeholder="Input sample" />
                            </div>
                        </div>
                        <small class="help-block">
                            This is an example of help block
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="input-test">This is a label</label>
                        <div class="input-group">
                            <div class="line">
                                <input id="input-test" class="form-control" placeholder="Input sample" />
                            </div>
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                        </div>
                        <small class="help-block">
                            This is an example of help block
                        </small>
                    </div>

                    <div class="form-group">
                        <div class="line">
                            <textarea class="form-control" placeholder="Type your life here"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="line select">
                            <select class="form-control">
                                <option>812</option>
                                <option>813</option>
                                <option>814</option>
                                <option>815</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="line">
                                        <input id="input-test" class="form-control" placeholder="col-md-6" />
                                    </div>
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                </div>
                                <small class="help-block">
                                    This is an example of help block
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="line disabled">
                                    <input class="form-control" disabled placeholder="col-md-6 disabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- VALIDATION STATES -->
    <div class="col-md-6">
        <div class="card-item">
            <div class="card-description card-padding">
                <form method="post">
                    <div class="form-group has-error">
                        <div class="line">
                            <input data-shake="true" class="form-control" placeholder="Input sample" />
                        </div>
                        <small class="help-block">
                            This is an example of help block
                        </small>
                    </div>

                    <div class="form-group has-warning">
                        <label for="input-test">This is a label</label>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                            <div class="line">
                                <input id="input-test" class="form-control" placeholder="Input sample" />
                            </div>
                        </div>
                        <small class="help-block">
                            This is an example of help block
                        </small>
                    </div>

                    <div class="form-group has-success">
                        <div class="line">
                            <textarea rows="7" class="form-control" placeholder="Type your life here"></textarea>
                        </div>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" />
                            <i class="material-checkbox"></i>
                            This is the checkbox label
                        </label>
                    </div>

                    <label class="checkbox-inline">
                        <input type="checkbox" />
                        <i class="material-checkbox"></i>
                        This is the checkbox
                    </label>

                    <label class="checkbox-inline disabled">
                        <input type="checkbox" disabled />
                        <i class="material-checkbox"></i>
                        This is the checkbox
                    </label>

                    <div class="radio">
                        <label>
                            <input name="test-radio" type="radio" />
                            <i class="material-radio"></i>
                            This is the checkbox label
                        </label>
                    </div>

                    <label class="radio-inline">
                        <input name="test-radio" type="radio" />
                        <i class="material-radio"></i>
                        This is the checkbox
                    </label>

                    <label class="radio-inline disabled">
                        <input name="test-radio" type="radio" disabled />
                        <i class="material-radio"></i>
                        This is the checkbox
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>