<div class="row">
    <div class="col-md-12">
        <div class="simple-card sc-cyan" data-shake="true">
            <a href="" title="Close" class="close"><i class="fa fa-times"></i></a>
            <p>
                Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis. Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
            </p>
        </div>
    </div>
</div>