<div class="row">
    <div class="col-md-12">
        <div class="card-item">
            <div class="card-description">
                <table class="table data-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Item column 1</th>
                            <th>Item column 2</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Product name</td>
                            <td>Product type</td>
                            <td>
                                <a class="edit btn btn-blue" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                                <a class="delete btn btn-red" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Product name</td>
                            <td>Product type</td>
                            <td>
                                <a class="edit btn btn-green" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                                <a class="delete btn btn-amber" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-item">
            <div class="card-description">
                <table class="table table-striped data-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Item column 1</th>
                        <th>Item column 2</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Product name</td>
                        <td>Product type</td>
                        <td>
                            <a class="edit btn btn-blue" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                            <a class="delete btn btn-red" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Product name</td>
                        <td>Product type</td>
                        <td>
                            <a class="edit btn btn-green" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                            <a class="delete btn btn-amber" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Product name</td>
                        <td>Product type</td>
                        <td>
                            <a class="edit btn" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                            <a class="delete btn" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-item">
            <div class="card-description">
                <table class="table table-hover data-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Item column 1</th>
                        <th>Item column 2</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Product name</td>
                        <td>Product type</td>
                        <td>
                            <a class="edit btn btn-blue" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                            <a class="delete btn btn-red" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Product name</td>
                        <td>Product type</td>
                        <td>
                            <a class="edit btn btn-green" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                            <a class="delete btn btn-amber" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Product name</td>
                        <td>Product type</td>
                        <td>
                            <a class="edit btn" href="" title="Edit entry"><i class="fa fa-pencil"></i></a>
                            <a class="delete btn" href="" title="Delete entry"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>