@import url(http://fonts.googleapis.com/css?family=Gafata:400,300,700);

$white: #FFFFFF;
$text-shadow: #333333;
$red: #D42F43;
$red-hover: #9b1e3a;
$light-gray: #eeeeee;
$box-shadow: rgba(0, 0, 0, 0.3);
$gray: #dddddd;
$black: #000000;

* {
  margin: 0;
}

b, strong {
  color: $red !important;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Gafata;
  background-color: $light-gray;
}

.red {
  color: $red;
}

/** NAVBAR **/
body.blog {
  padding-top: 8rem;
  .mover-navbar {
    background-color: $light-gray;
    box-shadow: 0 0.1rem 0.4rem $box-shadow;
    .nav > li > a {
      color: $text-shadow;
      text-shadow: none;
      &:hover {
        border-bottom: none;
        color: $red;
      }
    }

    li.active {
      a {
        color: $red;
      }
    }

    .navbar-brand {
      color: $text-shadow;
      text-shadow: none;
    }
  }
}
.mover-navbar.navbar-opaque {
  background-color: $light-gray;
  box-shadow: 0 0.1rem 0.4rem $box-shadow;
  .nav > li > a {
    color: $text-shadow;
    text-shadow: none;
    &:hover {
      border-bottom: none;
      color: $red;
    }
  }

  li.active {
    a {
      color: $red;
    }
  }

  .navbar-brand {
    color: $text-shadow;
    text-shadow: none;
  }
}

.navbar-brand {
  height: auto;
  display: table;
  transition: all 0.3s ease;
  img {
    display: inline-block;
    margin-right: 1rem;
  }

  color: $white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem $text-shadow;
  &:hover {
    color: $white;
  }

  .brand-name{
    display: table-cell;
    vertical-align: middle;
    small {
      display: block;
    }
  }
}

.navbar-nav {
  height: 8rem;
}

.mover-navbar {
  background-color: transparent;
  transition: all 0.3s ease;
  height: 8rem;
  
  .nav > li {
    height: 100%;
    line-height: 8rem;
  }

  .nav > li > a {
    color: $white;
    text-shadow: 0.1rem 0.1rem $text-shadow;
    text-decoration: none;
    line-height: 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
    margin: 1rem 1.5rem;
    transition: color 0.2s ease;
    display: inline-block;
    &:hover {
      background-color: transparent;
      border-bottom: solid 0.2rem $white;
    }
  }

  li.active {
    a {
      color: $red;
      &:hover {
        border-bottom: solid 0.2rem $red;
      }
    }
  }
}

#banner-top {
  width: 100%;
  height: 100vh;
  background: url('../img/background.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  text-shadow: 0.1rem 0.1rem $text-shadow;
  text-transform: uppercase;

  .container {
    height: 100%;
  }

  .row {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    height: 100%;
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
    flex-direction : column;
    h3 {
      font-size: 4rem;
      font-weight: bold;
    }
  }
}

/** BLOG **/
section:not(#banner-top):not(.post-body):not(.card-content) {
  padding: 4rem 0;
}

.card {
  box-shadow: 0 0.1rem 0.4rem $box-shadow;
  padding: 0.5rem;
  height: 50rem;
  text-align: justify;
  background-color: $white;

  h1 {
    color: $red;
  }
  a {
    color: $red;
    text-decoration: none;
  }

  section {
    a.read-more {
      color: $red;
      float: right;
    }
  }
}

#post, #post-home {
  background-color: $light-gray;
  .card {
    min-height: 50rem;
    height: auto;
    padding: 1.5rem;
    background-color: $white;

    .subtitle {
      font-style: italic;
      font-size: 1.6rem;
    }
    
    .date, .category {
      display: block;
    }

    .category {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .social-buttons {
      display: block;
      margin-top: 1rem;
      a {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .post-body {
      padding-top: 2rem;
    }
  }

  footer {
    background: none;
    padding: 0;
  }

  .tags {
    li {
      display: inline-block;
      margin-right: 1rem;
      a {
        color: $white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: $red;
        transition: background-color 250ms ease 0s;
        &:hover {
          background-color: $red-hover;
        }
      }
    }
  }
}

#post-home {
  h1 {
    margin-top: 0;
  }

  .sidenav {
    .social-buttons {
      margin-bottom: 4rem;
    }

    img {
      margin-bottom: 1rem;
    }

    h3 {
      color: $red;
    }
  }
}

/** CAROUSEL **/
.carousel {
  height: 40rem;
}

/** POST SIDENAV **/
.sidenav {
  .sidenav-content {
    padding: 1rem 2rem;

    h3 {
      color: $red;
    }

    .authors {
      ul {
        li {
          display: inline-block;
          margin-right: 1rem;
          position: relative;
          img {
            border-radius: 50%;
            height: 5.6rem;
            width: 5.6rem;
            border: solid 0.2rem $red;
          }

          a {
            &:before {
              content: '';
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              opacity: 0.2;
              background-color: $red;
              transition: transform 250ms ease 0s;
              transform: scale(0);
            }

            &:hover {
              &:before {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

/** TAGS CLOUD **/
.tags-cloud {
  ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      display: inline-block;

      a {
        color: $text-shadow;
        text-decoration: none;
        padding: 0 0.2rem;

        &:hover {
          color: $red-hover;
        }
      }
    }
  }

  .tag1{font-size:100%;}
  .tag2{font-size:120%;}
  .tag3{font-size:140%;}
  .tag4{font-size:160%;}
  .tag5{font-size:180%;}
}


/** FOOTER **/
footer {
  background: $red;
  min-height: 9rem;
  color: $white;
  font-weight: bold;
  padding: 1.5rem 2rem;

  .social-media {
    li {
      display: inline-block;
      margin-left: 0.6rem;
      &:first-child {
        margin-left: 0;
      }
    }
    a {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      display: block;
      background-color: $white;
      color: $red;
      text-align: center;
      line-height: 3rem;
      font-size: 1.6rem;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}