@import url(http://fonts.googleapis.com/css?family=Gafata:400,300,700);

$white: #FFFFFF;
$text-shadow: #333333;
$red: #D42F43;
$light-gray: #eeeeee;
$box-shadow: rgba(0, 0, 0, 0.3);

* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Gafata;
}

.red {
  color: $red;
}

/** NAVBAR **/
.mover-navbar {
  background-color: transparent;

  .nav > li > a {
    color: $white;
    text-shadow: 0.1rem 0.1rem $text-shadow;
    text-decoration: none;
    line-height: 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
    margin: 1rem 1.5rem;
    &:hover {
      background-color: transparent;
      border-bottom: solid 0.2rem $white;
    }
  }

  li.active {
    a {
      color: $red;
    }
  }
}

#banner-top {
  width: 100%;
  height: 100vh;
  background: url('../img/background.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  text-shadow: 0.1rem 0.1rem $text-shadow;
  text-transform: uppercase;

  .container {
    height: 100%;
  }

  .row {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    height: 100%;
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
    flex-direction : column;
    h3 {
      font-size: 4rem;
      font-weight: bold;
    }
  }
}

/** BLOG **/
#blog {
  padding: 4rem 0;
}

.card {
  box-shadow: 0 0.1rem 0.4rem $box-shadow;
  padding: 0.5rem;
  height: 50rem;
  text-align: justify;

  header {
    a {
      color: $red;
      text-decoration: none;
    }
  }

  section {
    a.read-more {
      color: $red;
      float: right;
    }
  }
}


/** FOOTER **/
footer {
  background: $red;
  min-height: 9rem;
  color: $white;
  font-weight: bold;
  padding: 1.5rem 2rem;

  .social-media {
    li {
      display: inline-block;
      margin-left: 0.6rem;
      &:first-child {
        margin-left: 0;
      }
    }
    a {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      display: block;
      background-color: $white;
      color: $red;
      text-align: center;
      line-height: 3rem;
      font-size: 1.6rem;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}