@import url(http://fonts.googleapis.com/css?family=Gafata:400,300,700);
* {
  margin: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-family: Gafata;
  background-color: #eeeeee; }

.red {
  color: #D42F43; }

/** NAVBAR **/
body.blog {
  padding-top: 8rem; }
  body.blog .mover-navbar {
    background-color: #eeeeee;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3); }
    body.blog .mover-navbar .nav > li > a {
      color: #333333;
      text-shadow: none; }
      body.blog .mover-navbar .nav > li > a:hover {
        border-bottom: none;
        color: #D42F43; }
    body.blog .mover-navbar li.active a {
      color: #D42F43; }
    body.blog .mover-navbar .navbar-brand {
      color: #333333;
      text-shadow: none; }

.mover-navbar.navbar-opaque {
  background-color: #eeeeee;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3); }
  .mover-navbar.navbar-opaque .nav > li > a {
    color: #333333;
    text-shadow: none; }
    .mover-navbar.navbar-opaque .nav > li > a:hover {
      border-bottom: none;
      color: #D42F43; }
  .mover-navbar.navbar-opaque li.active a {
    color: #D42F43; }
  .mover-navbar.navbar-opaque .navbar-brand {
    color: #333333;
    text-shadow: none; }

.navbar-brand {
  height: auto;
  display: table;
  transition: all 0.3s ease;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem #333333; }
  .navbar-brand img {
    display: inline-block;
    margin-right: 1rem; }
  .navbar-brand:hover {
    color: #FFFFFF; }
  .navbar-brand .brand-name {
    display: table-cell;
    vertical-align: middle; }
    .navbar-brand .brand-name small {
      display: block; }

.navbar-nav {
  height: 8rem; }

.mover-navbar {
  background-color: transparent;
  transition: all 0.3s ease;
  height: 8rem; }
  .mover-navbar .nav > li {
    height: 100%;
    line-height: 8rem; }
  .mover-navbar .nav > li > a {
    color: #FFFFFF;
    text-shadow: 0.1rem 0.1rem #333333;
    text-decoration: none;
    line-height: 1rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
    margin: 1rem 1.5rem;
    transition: color 0.2s ease;
    display: inline-block; }
    .mover-navbar .nav > li > a:hover {
      background-color: transparent;
      border-bottom: solid 0.2rem #FFFFFF; }
  .mover-navbar li.active a {
    color: #D42F43; }
    .mover-navbar li.active a:hover {
      border-bottom: solid 0.2rem #D42F43; }

#banner-top {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg") center center no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-shadow: 0.1rem 0.1rem #333333;
  text-transform: uppercase; }
  #banner-top .container {
    height: 100%; }
  #banner-top .row {
    width: 100%;
    height: 100%; }
  #banner-top .wrapper {
    height: 100%;
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column; }
    #banner-top .wrapper h3 {
      font-size: 4rem;
      font-weight: bold; }

/** BLOG **/
section:not(#banner-top):not(.post-body):not(.card-content) {
  padding: 4rem 0; }

.card {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  height: 50rem;
  text-align: justify;
  background-color: #FFFFFF; }
  .card header h1 {
    color: #D42F43; }
  .card header a {
    color: #D42F43;
    text-decoration: none; }
  .card section a.read-more {
    color: #D42F43;
    float: right; }

#post {
  background-color: #eeeeee; }
  #post .card {
    min-height: 50rem;
    height: auto;
    padding: 1.5rem;
    background-color: #FFFFFF; }
    #post .card .subtitle {
      font-style: italic;
      font-size: 1.6rem; }
    #post .card .date, #post .card .category {
      display: block; }
    #post .card .category {
      font-weight: bold;
      font-size: 1.5rem; }
    #post .card .social-buttons {
      display: block;
      margin-top: 1rem; }
      #post .card .social-buttons a {
        margin-right: 1rem; }
        #post .card .social-buttons a:last-child {
          margin-right: 0; }
    #post .card .post-body {
      padding-top: 2rem; }
  #post footer {
    background: none;
    padding: 0; }
    #post footer .tags li {
      display: inline-block;
      margin-right: 1rem; }
      #post footer .tags li a {
        color: #FFFFFF;
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: #D42F43;
        transition: background-color 250ms ease 0s; }
        #post footer .tags li a:hover {
          background-color: #9b1e3a; }

/** CAROUSEL **/
.carousel {
  height: 40rem; }

/** POST SIDENAV **/
.sidenav .sidenav-content {
  padding: 1rem 2rem; }
  .sidenav .sidenav-content h3 {
    color: #D42F43; }
  .sidenav .sidenav-content ul li {
    display: inline-block;
    margin-right: 1rem;
    position: relative; }
    .sidenav .sidenav-content ul li img {
      border-radius: 50%;
      height: 5.6rem;
      width: 5.6rem;
      border: solid 0.2rem #D42F43; }
    .sidenav .sidenav-content ul li a:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.2;
      background-color: #D42F43;
      transition: transform 250ms ease 0s;
      transform: scale(0); }
    .sidenav .sidenav-content ul li a:hover:before {
      transform: scale(1); }

/** FOOTER **/
footer {
  background: #D42F43;
  min-height: 9rem;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1.5rem 2rem; }
  footer .social-media li {
    display: inline-block;
    margin-left: 0.6rem; }
    footer .social-media li:first-child {
      margin-left: 0; }
  footer .social-media a {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: block;
    background-color: #FFFFFF;
    color: #D42F43;
    text-align: center;
    line-height: 3rem;
    font-size: 1.6rem;
    transition: transform 0.2s ease; }
    footer .social-media a:hover {
      transform: scale(1.2); }

/*# sourceMappingURL=custom.css.map */
