{% extends "BackendBundle:Layouts:2columns.html.twig" %}

{% block breadcrumb %}
    {{ setCrumbs({'Profile': ''}) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card-item card-deep-purple">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BackendBundle:Scripts:xmlhttprequest-helper.html.twig' %}
    {% include 'BackendBundle:Scripts:image-thumbnail-helper.html.twig' %}
    <script>
        window.addEventListener('load', function(evt) {
            ImageThumbnail.init('#multiple_images_images', '#upload-thumbnails', 'image-thumbnail-avatar');
            {% if avatars | length > 0 %}
            var avatars = document.querySelectorAll('#thumbnails li');
            console.info(avatars);

            Array.prototype.forEach.call(avatars, function(image) {
                image.addEventListener('click', function(evt) {
                    evt.preventDefault();
                    XMLHttpRequestHelper.sendRequest('post', image.dataset.path, null, function onsuccess(result) {
                        var response = JSON.parse(result);
                        if (response.ok) {
                            image.parentNode.removeChild(image);
                        }
                    });
                })
            });
            {% endif %}
        });
    </script>
{% endblock %}