<div class="form-group">
    <input type="file" multiple="multiple" class="hidden" name="multiple_images[images][]" id="multiple_images_images">
    <input type="hidden" name="not_upload_files" />
    <a href="#multiple_images_images" class="input-file-sm">
        <i class="fa fa-plus"></i>
    </a>
    <ul id="upload-thumbnails" class="list-unstyled thumbnails-list-sm"></ul>
</div>