{% extends 'FrontendBundle::base.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block sidenav %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}